<!doctype html>
<html>
  <head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
      <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>

  </head>
  <style>
    #patientLabel:active{
      background-color:#285e8e;
    }
    #circleImage {
      border-top-left-radius: 50% 50%;
      border-top-right-radius: 50% 50%;
      border-bottom-right-radius: 50% 50%;
      border-bottom-left-radius: 50% 50%;
    }
    #name {
	font-family: Lato;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 26.4px;
}
  #sideNav {
    background-color: #262A33;
  }
  #patientLabel{
    color: white;
    text-align: center;
  }
  #patientLabel:hover {
    background-color: #1D2027;
    color: white;
  }

  html {
    font-family: Lato, Calibri, Trebuchet, sans-serif;
    background-color:#F0F0F0;
  }


  </style>
  <body style="position:fixed">
    <div class="row">
      <div class="col s3 z-depth-1" id= "sideNav" style="padding-left:0px;height:10000vh;">
         <a class="btn-flat col s12"id="patientLabel">Ananth Chillarige</a>
         <a class="btn-flat col s12"id="patientLabel">Gautam</a>
      </div>
      <!-- sugar, protein, calories, pie chart with % of sugar, protien, calories-->
      <div class="col s9" style="height:100vh;">
        <div class = "row pieChart">
          <div class = "col s6">
            <div class = "row">
              <div class = "col s5" style = "padding-top:60px">
                <img src = "zac.png" class = "circle responsive-img">
              </div>
              <div class = "col s7" style = "padding-top:60px">
                <h5 class="left" id="name">
                 Name: Bob Smith<br><br>
                 Age: 36<br><br>
                 Gender: Male
               </h5>
              </div>
            </div>
          </div>
          <div class = "col s6">
            <canvas id="diet" width="100" height = "100" style="padding:50px; margin-bottom: -6vh"></canvas>
            <script>
            var ctx = document.getElementById("diet");
            var myDoughnutChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [
                        "Sodium",
                        "Protein",
                        "cholesterol",
                        "Sugar"
                    ],
                    datasets: [
                        {
                            data: [300, 50, 100,20],
                            backgroundColor: [
                              'rgba(75, 192, 192, 0.2)',
                              'rgba(153, 102, 255, 0.2)',
                              'rgba(255, 206, 86, 0.2)',
                              'rgba(54, 162, 235, 0.2)',
                            ],
                            hoverBackgroundColor: [
                              'rgba(75, 192, 192, 0.2)',
                              'rgba(153, 102, 255, 0.2)',
                              'rgba(255, 206, 86, 0.2)',
                              'rgba(54, 162, 235, 0.2)'
                            ]
                        }]
                },
                options: {cutoutPercentage: 75}
            });
            </script>
        </div>
        <div class = "row barGraphs" >
          <div class = "col s4">
            <canvas id="calorie" width="100" height="80"></canvas>
            <script>
            var ctx = document.getElementById("calorie");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["Sun", "Mon", "Tues", "Wed", "Thurs", "Fri","Sat"],
                    datasets: [{
                        label: 'caloric intake',
                        data: [12, 19, 3, 5, 2, 3,6],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
            </script>
          </div>
          <div class = "col s4">
            <canvas id="sugar" width="100" height="80"></canvas>
            <script>
            var ctx = document.getElementById("sugar");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["Sun", "Mon", "Tues", "Wed", "Thurs", "Fri","Sat"],
                    datasets: [{
                        label: 'sugar intake',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
            </script>
          </div>
          <div class = "col s4">
            <canvas id="cholesterol" width="100" height="80"></canvas>
            <script>
            var ctx = document.getElementById("cholesterol");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                  labels: ["Sun", "Mon", "Tues", "Wed", "Thurs", "Fri","Sat"],
                    datasets: [{
                        label: 'cholesterol intake',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 206, 86, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
            </script>
          </div>
        </div>
    </div>

  </body>
</html>
